/* base */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #444;
  background: #fffefe;
}

body {
  font-family: Roboto,sans-serif;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #d64a28;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

main {
  font-size: 1.2em;
  text-align: justify;
  max-width: 35em;
  margin: 4rem auto;
}

/* nav */
nav {
  display: flex;
  background: #202d40;
}

nav a {
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

/* code-highlight */
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* authors */
.authors li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.authors img {
  border-radius: 4px;
  max-width: 40px;
  margin-right: 1rem;
}

.spacer {
  flex: 1;
}

.author:after {
  padding: 0 0.5rem 0 0.75rem;
  content: '-';
}

/* articles */
article {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

article:last-child {
  border: none;
}
