  <div class="post-info">
    <span class="author by-line">
      {{#link-to "author" article.author}}
        {{article.author.name}}
      {{/link-to}}
    </span>
    <span class="date">{{format-date article.date}}</span>
  </div>
