<div class="posts">
  {{#each model as |post|}}
    <article>
      <h3>
        {{#link-to 'post' post}}
          {{post.attributes.title}}
        {{/link-to}}
      </h3>

      {{{post.summary}}}
    </article>
  {{/each}}
</div>
