<div class="posts">
  {{#each model as |post|}}
    <article>
      <h3>
        {{#link-to 'post' post}}
          {{post.attributes.title}}
        {{/link-to}}
      </h3>

      {{{post.summary}}}

      <div class="info">
        <span class="by-line">{{post.attributes.author}}</span>
        <span class="separator">-</span>
        <span class="date">{{post.attributes.date}}</span>
      </div>
    </article>
  {{/each}}
</div>
