<article>
  <h3>{{model.attributes.title}}</h3>
  <div class="info">
    <span class="by-line">{{model.attributes.author}}</span>
    <span class="separator">-</span>
    <span class="date">{{model.attributes.date}}</span>
  </div>

  {{article-content content=model.body}}
</article>
